.navbar{
	margin-bottom: 0px;
}
.jumbotron{
	background-color: #009688;
	margin-bottom: 0px;
}
.hero-text h1{
	color: #ffffff;
	font-weight: bold;
}
.hero-text p{
	color: #d8d8d8;
}
.arrowdown-wrapper{
  width: 100%;
  text-align: center;
  margin-top: 60px;
}
.arrowdown{
  display: inline-block;
  z-index: 100;
  width: 50px;
  height: 50px;
  position: relative;
  bottom: 0;
  margin: 0 auto;
  background-image: url('../img/ArrowDown.png');
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
  -webkit-animation: scrolldown 0.8s ease-in infinite;
  -moz-animation: scrolldown 0.8s ease-in infinite;
  -o-animation: scrolldown 0.8s ease-in infinite;
  animation: scrolldown 0.8s ease-in infinite;
}

@-webkit-keyframes scrolldown{
	0%{
	  -webkit-transform: translateY(5px);
	}
	25%{
	  -webkit-transform: translateY(-5px);
	}
	50%{
	  -webkit-transform: translateY(-10px);
	}
}
@-moz-keyframes scrolldown{
	0%{
	  -moz-transform: translateY(5px);
	}
	25%{
	  -moz-transform: translateY(-5px);
	}
	50%{
	  -moz-transform: translateY(-10px);
	}
}
@-o-keyframes scrolldown{
	0%{
	  -o-transform: translateY(5px);
	}
	25%{
	  -o-transform: translateY(-5px);
	}
	50%{
	  -o-transform: translateY(-10px);
	}
}
@keyframes scrolldown{
	0%{
	  transform: translateY(5px);
	}
	25%{
	  transform: translateY(-5px);
	}
	50%{
	  transform: translateY(-10px);
	}
}

.arrowdown span{
    color: #ffffff;
    font-size: 14px;
    display: inherit;
    position: relative;
    top:-24px;
    white-space: nowrap;
    text-shadow: 0px 0px 5px #333;
}
.intro{
	background-color: #e4e4e4;
	padding: 20px;
}
.page-header{
	border: none;
}
.intro .page-header{
	margin: 0px;
}
.page-header h3{
	color: #3e3e3e;
}
.intro-columns img{
	padding: 30px;
}

.github-tutorial{
	margin-top: 30px;
}
.github-tutorial img{
	margin-bottom: 20px;
}










